@import url("https://fonts.googleapis.com/css?family=Rochester");

@-webkit-keyframes latido {
  0% {
    -webkit-transform: scale(0.5, 0.5) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(2, 2) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(3, 3) rotate(-15deg);
  }
  75% {
    -webkit-transform: scale(1, 1) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(4, 4) rotate(0deg);
  }
}

@keyframes firework {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  font-family: "Rochester", cursive;
  background: rgb(81, 159, 238);
  background-image: -moz-radial-gradient(
    center 45deg,
    circle cover,
    pink,
    crimson
  );
  background-image: -ms-radial-gradient(
    center 45deg,
    circle cover,
    pink,
    crimson
  );
  background-image: -o-radial-gradient(
    center 45deg,
    circle cover,
    pink,
    crimson
  );
  background-image: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    800%,
    from(pink),
    to(crimson)
  );
  background-image: radial-gradient(center 45deg, circle cover, pink, crimson);
  font-size: 16px;
  text-align: center;
  position: relative;
}

h1 {
  -webkit-animation: latido 3s infinite 1.5s alternate ease;
  -webkit-animation-play-state: running;
  font-size: 2em;
  left: 47.7%;
  position: fixed;
  top: 47.7%;
  z-index: 2;
}

h2 {
  font-size: 3em;
}

#corazon {
  -webkit-animation: latido 3s infinite 1.5s alternate ease;
  -webkit-animation-play-state: running;
  left: 43%;
  height: 180px;
  position: fixed;
  top: 45%;
  width: 200px;
  z-index: 1;
}

#corazon:after,
#corazon:before {
  background: red;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 160px;
  left: 100px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  width: 100px;
}

#corazon:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  animation: firework 2s infinite;
}

.firework-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
